body {
    display: grid;
    grid-template-columns: 1fr 2fr;    
}
h2 {
    color: #42b0f5;
    font-family: monospace;
    font-size: 23px;
}
 #last-name, h1 {
    font-family: cursive;
}
#last-name {
    color: #42b0f5;
}
ul, p {
    font-family: monospace; 
    font-size: 16px;
}
#job {
    color: white;
    background-color: #42b0f5;
    width: 170px;    
    text-align: center;
    margin-top: -15px;
}
.first {
    background-color: #4c4b57;
    color: white;
} 
#circle {
    border-radius: 50%;
    width: 60px;
}
#contacts {
    padding-left: 20px;
}
.second {
    padding-left: 50px;
    background-color: #e1dff7;
}
#circle:hover {
    transform: scale(1.2);
}
